*{
    padding: 0%;
}
.icon{
    height: 60px;
    width: 50px;
    position: absolute;
}
.brand-logo{
    margin-left: 20px;
    -webkit-filter: invert(80%);
}
body{
    /*background: url(http://i46.tinypic.com/25hkajb.jpg);
    background-position:top;*/
    background-color: grey;
}


.parallax{
    /*height: 10vw;*/
}


.gris-1{
    background-color: #444;
}
.movie-section {
  width:100%;
  background-color: grey;
}

.row img {
  float: left;
  margin:5px;
}


.row{
  background-color:black;
  padding:10px;
  overflow:auto;
  color:white;
}

.pelicula {
  width:80%;
  margin-left:10%;
}
.paginas{
  background-color: black;

}
.pagination {
  overflow:visible;
  margin-left: 50%;
}
.pagination li{
}
.pagination li a{
  color: white;
}

.info-pelicula{
  width:75%;
  float:right;
  padding:10px;
}
.imagen-index img{
    max-width: 300px;
    max-height: 400px;
}



#filter-nav{
  background-color: #444;
  width: 100%;
}

#filter-nav .separador {
    max-height: 100px;
    float:left;
    margin-left: 50px;

}
#filter-nav .separador p  {
    float:left;
}

#filter-nav .separador label  {
    float:left;

}

.campo{
    overflow-x:hidden;
    color: gray;
}

.campo-aclaracion{
    color: gray;
    padding-left: 1vw;
}

.formulario-registro{
    background-color: #fff;
}
