*{
    padding: 0%;
}
.icon{
    height: 60px;
    width: 50px;
    position: absolute;
}
.brand-logo{
    margin-left: 20px;
    -webkit-filter: invert(80%); 
}
body{
    /*background: url(http://i46.tinypic.com/25hkajb.jpg);
    background-position:top;*/
}


.parallax{
    /*height: 10vw;*/
}

.container{
    margin-top: 18vw;
    /*margin-left: 2vw;*/
    /*margin-right: 2vw;*/
    background-color: #eee;
}

.gris-1{
    background-color: #444;
}
